*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(rgb(158, 237, 244),rgb(5, 65, 82));
    width: 100%;
    height: 100vh;
}
.container{
    margin: 100px 300px;
}
.input-box{
    font-size: 32px;
    padding: 5px 8px;
    border: 1px solid gray;
    border-radius: 5px;
}
.del-btn{
    font-size: 22px;
    padding: 5px 8px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}
.add-btn{
    font-size: 32px;
    padding: 5px 8px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}
li{
    font-size: 28px;
}